.user_card {
	width: 350px;
	margin-top: auto;
	margin-bottom: auto;
	background: #17202a;

	position: absolute;
	display: block;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	justify-content: center;
	flex-direction: column;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
}

.form_container {
	margin-top: 20px;
}

#form-title{
	color: #fff;

}

.login_btn {
	color: #f1f1f1;
	background-color: #ff4444;
	border: none;
	width: 150px;
	height: 40px;
	border-radius: 5px;
	float: right;
}

.login_btn:hover {
	box-shadow: none;
	outline: 0px;
}


.login_container {
	padding: 0 2rem;
}

.input-group-text {
	background: #f7ba5b;
	color: white;
	border: 0;
	border-radius: 0.25rem 0 0 0.25rem;
}

.input_user, .input_pass:focus {
	box-shadow: none;
	outline: 0px;
}

#messages{
	background-color: grey;
	color: #fff;
	padding: 10px;
	margin-top: 10px;
}
