.user_card {
	color: #b3b6b7;
	margin-top: auto;
	margin-bottom: auto;
	background: #17202a;
	padding: 100px, 0px, 100px, 0px;

	position: absolute;
	display: inline-block;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	justify-content: center;
	flex-direction: column;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
}

.form_container {
	margin-top: 20px;
}

#form-title{
	color: #fff;
}

#reg_btn {
	color: #f1f1f1;
	background-color: #ff4444;
	border: none;
	width: 150px;
	height: 40px;
	border-radius: 5px;
	float: right;
}

#reg_btn:hover {
	background-color: limegreen;
	box-shadow: none;
	outline: 0px;
}

